*      { margin:0;
         padding:0;
         max-width: 100%;

}

.bar   { position:relative;
             width:100%;
             height:100px;
             background-color: white;
}

.logo      { position:fixed;
             top:82px;
             left:50px;
             width:180px;
             height:50px;
             background-color: white;
             z-index: 3;
             padding-top: 5px;

}

.heading    { position: absolute;
              top:10px;
              left:580px;
               

}

.btn         { position:fixed;
               top:80px;
               right:70px;
               z-index: 3;

}

.btn1  { position:fixed;
        border:none;
        color:#c36;
        background-color: white;
        padding: 16px 32px;
        font-size: 15px;
        top:19px;
        right:370px;
        z-index: 3;
}

.btn2  { position:fixed;
        border:none;
        color:#c36;
        background-color: white;
        padding: 16px 32px;
        font-size: 0.94rem;
        top:19px;
        right:300px;
        z-index: 3;
}

.header   { position:absolute;
            top:60px;
            left:20px;
            width:100%;
            z-index: 3;

    
}

nav      { margin:20px;

}

ul    {
    list-style-type:none;
    display:block;
    margin:25px;
    padding:0;
}

li a  { 
    text-decoration:none;
    background-color:white;
    float:right;
    padding:15px 40px;
    font-size: 18px;
    font-family: Raleway;
    color:#555;
    
}

li a:hover { 
        background-color:black; color:red;
}

.section1   { position: relative;
              width:100%;
              height:550px;
              background-color: lightgray;

}

.one         { position: absolute;
               top:100px;
               left:120px;
               width:400px;
               height: 400px;
               margin:auto;
               padding: auto;
               text-align:left;
               font-size: 1.25rem;

}

.btn3  { position:absolute;
    border:1px solid green;
    color:green;
    background-color: white;
    padding: 16px 32px;
    font-size: 1.063rem;
    
}

.two        { position:absolute;
              top:30px;
              right:150px;
              color:gray;
              font-size: 1.25rem; 

}

.section2     { position:relative;
                max-width: 100%;
                height:500px;


}

.three        { position:absolute;
                width:500px;
                height:350px;
                top:30px;
                left:120px;
                border-radius:30px;

}

.four         { position:absolute;
                width:550px;
                height:450px;
                top:30px;
                right:100px;
                background-color:#2A81D2;
                color:white;
                border-radius:30px;
            

}


.five         { position:absolute;
                width:450px;
                height:500px;
                top:80px;
                right:0px;
                left:30px;
                color:white;
                font-size:24px;
                margin:0px;
                padding:0px;
                text-align:left;
                font-family:"Raleway", Sans-serif;
                line-height:26px;
                

}

.section3   { position: relative;
              width:100%;
              height:650px;
              background-color: lightgray;

}

.six         { position: absolute;
               top:160px;
               left:120px;
               width:500px;
               height: 400px;
               margin:auto;
               padding: auto;
               text-align:left;
               font-size: 17px;
               font-family: "Raleway", Sans-serif;
               line-height: 36px;
               font-weight: 500px;

}

#green        { color:green;

}

.seven        { position:absolute;
              top:90px;
              right:150px;
              color:gray;
              font-size: 20px; 

}

.section4     { position:relative;
                width:100%;
                height:600px;
                background-color:#F79122;

}

.eight        { position:absolute;
                left:120px;
                width:850px;
                height:650px;


}

.nine         { position:absolute;
               width:650px;
               height: 400px;
               top:160px;
               right:100px;
               margin:auto;
               padding: auto;
               text-align:center;
               font-size: 14px;
               font-family: "Raleway", Sans-serif;
               line-height: 30px;
               font-weight: 500px;
               color:white;

}

.section5     { position:relative;
                width:100%;
                height:880px;
                

}

.ten          { position:absolute;
                top:30px;
                left:420px;
                width:600px;
                height:100px;

}

.eleven       { position:absolute;
                width:600px;
                height:500px;
                top:80px;
                left:120px;
                background-color:lightgray;

}

.twelve      { position:absolute;
              top:30px;
              left:60px;
              font-size: 20px; 

}

.thirteen   { position:absolute;
              top:310px;
              left:80px;
              font-size: 20px;
              width:100px;
              height:150px 

}

#sync        {color:green;

}



.fourteen     { position:absolute;
                width:750px;
                height:800px;
                top:80px;
                right:100px;
                background-color: lightgrey;

}

.fifteen      { position:absolute;
              top:15px;
              right:15px;
              width: 650px;
              height:400px; 

}

.sixteen    { position:absolute;
              top:560px;
              margin:0px;
              padding:0px;
              right:150px;
              font-size: 20px;
              width:500px;
              height:300px;
              text-align: left; 

}

#phone       {color:green; 

}

.section6     { position:relative;
                width:100%;
                height:650px;

}

.seventeen     { position:absolute;
                 width:650px;
                 height:650px;
                 top:30px;
                 left:120px;
                 background-color:lightgray;
                 border-radius: 30px;
                 font-family: "Raleway", Sans-serif;
                 font-size: 22px;
}

.eightteen     { position:absolute;
                 width:550px;
                 height:400px;
                 top:30px;
                 left:150px;
                 font-family: "Raleway", Sans-serif;
                 font-size: 18px;
                 
}

#seren          { color:green;

}

.nineteen     { position:absolute;
                 width:400px;
                 height:650px;
                 top:30px;
                 right:100px;
                 background-color: lightgray;
                 border-radius: 30px;
}

.twenty        { position:absolute;
                 width:350px;
                 height:200px;
                 top:300px;
                 left:20px;
                 font-family: "Raleway", Sans-serif;
                 font-size: 22px;
                 line-height: 46px;

}

#fire           { color:green;
                 font-family: "Raleway", Sans-serif;
                 font-size: 22px;


}

.section7        { position:relative;
                   width:100%;
                   height:500px;

}

.twenty-one       { position:absolute;
                    width:350px;
                    height:350px;
                    top:80px;
                    left:120px;
                    border-radius: 30px;
                    color:white;
                    background-color: #2A81D2;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    line-height: 40px;

}

.first      { position:absolute;
                    width:300px;
                    height:30px;
                    top:80px;
                    left:20px;
                    color:white;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    line-height: 40px;

}

#first1       { font-size:18px;

}

.twenty-two       { position:absolute;
                    width:355px;
                    height:350px;
                    top:80px;
                    left:490px;
                    border-radius: 30px;
                    color:white;
                    background-color:#2A81D2;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    line-height: 40px;
                    
}

.second           { position:absolute;
                    width:300px;
                    height:200px;
                    top:80px;
                    left:20px;
                    color:white;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    

}

#second2       { font-size:18px;
                 line-height: 32px;
}

.twenty-three       { position:absolute;
                    width:350px;
                    height:350px;
                    top:80px;
                    right:100px;
                    border-radius: 30px;
                    color:white;
                    background-color: #2A81D2;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    line-height: 40px;

}

.third           { position:absolute;
                    width:300px;
                    height:200px;
                    top:80px;
                    left:20px;
                    color:white;
                    font-family: "Raleway", Sans-serif;
                    font-size: 20px;
                    text-align:center;
                    

}

#third3        { font-size:18px;
                 line-height: 32px;
}

.section8       {  position:relative;
                   width:100%;
                   height:550px;

}

.twenty-four         { position:absolute;
                       top:50px;
                       left:420px;
                       width:600px;
                       height:100px;
                       font-family: "Raleway", Sans-serif;
                       font-size: 22px;

}

.twenty-five       { position:absolute;
                     width:300px;
                     height:300px;
                     top:150px;
                     left:120px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}


.twenty-six       { position:absolute;
                     width:300px;
                     height:300px;
                     top:150px;
                     left:450px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}



.twenty-seven       { position:absolute;
                     width:300px;
                     height:3000px;
                     top:150px;
                     left:800px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}


.twenty-eight       { position:absolute;
                     width:500px;
                     height:350px;
                     top:150px;
                     left:1090px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}

.twenty-nine       { position:absolute;
                     width:300px;
                     height:300px;
                     top:300px;
                     left:120px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}

.thirty       { position:absolute;
                     width:300px;
                     height:300px;
                     top:300px;
                     left:450px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}


.thirty-one        { position:absolute;
                     width:300px;
                     height:300px;
                     top:300px;
                     left:800px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}


.thirty-two       { position:absolute;
                     width:500px;
                     height:350px;
                     top:300px;
                     left:1090px;
                     font-family: "Raleway", Sans-serif;
                     font-size: 24px;
                     line-height: 46px;

}

.section9   { position: relative;
              width:100%;
              height:550px;
              background-color: #2A81D2;
                

}

.thirty-three         { position: absolute;
                        top:100px;
                        left:120px;
                        width:650px;
                        height: 400px;
                        margin:auto;
                        padding: auto;
                        text-align:center;
                        font-size: 17px;
                        font-family: "Raleway", Sans-serif;
                        line-height: 36px;
                        color:white;

}



.thirty-four     { position:absolute;
                   top:0px;
                   right:50px;
                   color:gray;
                   font-size: 20px; 

}


.section10     { position:relative;
                width:100%;
                height:550px;
                background-color:lightgray;

}

.thirty-five        { position:absolute;
                top:50px;
                left:120px;
                width:750px;
                height:650px;


}

.thirty-six   { position:absolute;
               width:550px;
               height: 400px;
               top:160px;
               right:100px;
               margin:auto;
               padding: auto;
               text-align:left;
               font-size: 14px;
               font-family: "Raleway", Sans-serif;
               line-height: 30px;
               font-weight: 500px;
}

.footer        { position:relative;
                width:100%;
                height:600px;
                background-color: #8AC544;;


}

.thirty-seven    { position:absolute;
                top:30px;
                left:120px;
                width:130px;
                height:650px;
                color:white;

}


table      { width:100%;

}

table, th, td  { border: none;
                 padding:5px;
                 margin:30px;
                 font-size:17px;
                 font-family: "Raleway", Sans-serif;
                 
}

th, td         { border-style:none;
                 text-align: left; 
                 color:white;
}


#last    {text-align:right;
          color:white;
          font-family: "Raleway", Sans-serif;
}
